{{- with resources.Get "css/compiled/app.css" }}
  {{- $css := . }}
  {{- with $css | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}


{{- /* Only load syntax.scss when using CSS classes (noClasses = false) */ -}}
{{- if site.Params.syntax }}
  {{- with resources.Get "css/compiled/syntax.css" }}
    {{- $css := .  }}
    {{- with $css  | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  {{- end }}
{{- end }}
