# EditorConfig for Hugo theme
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Hugo 模板文件
[layouts/**/*.html]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# SCSS/CSS
[*.{scss,css}]
indent_style = space
indent_size = 2

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# TOML 配置
[*.toml]
indent_style = space
indent_size = 2
