
{{ if .IsHome}}
<div class="mb-md md:mb-lg">
  <h1 class="fs-lg md:fs-xl font-700 m-0"><a href="{{ "/" | relURL }}" class="border-none c-fg2 hover:opacity-70">{{ site.Title }}</a></h1>
</div>
<div class="flex flex-col md:flex-row">
  <nav class="mb-0">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </nav>
  {{ if .IsTranslated }}
  <nav class="mt-xs pt-sm border-t border-bd1 md:border-none md:mt-0 md:pt-0">
    {{ range $index, $lang := .Translations }}
      <a href="{{ $lang.RelPermalink }}" class="inline-block c-fg3 border-none fs-xs hover:c-fg2">{{ $lang.Language.LanguageName }}</a>
      {{- if lt $index (sub (len $.Translations) 1) -}}<span class="inline-block mx-xs c-fg4"> / </span>{{- end }}
    {{ end }}
  </nav>
  {{ end }}
</div>
{{ end }}


