
{{ if .IsHome}}
<div class="mb-md h-48px flex items-center justify-between gap-md">
  <h1 class="fs-xl font-700 m-0"><a href="{{ "/" | relURL }}" class="border-none c-fg1 hover:opacity-70">{{ site.Title }}</a></h1>
  {{ partial "header-actions.html" . }}
</div>
<div>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  {{ if .IsTranslated }}
  <ul class="inline lang-switcher">
    {{ range $index, $lang := .Translations }}
    <li class="ml-sm inline">
      <a href="{{ $lang.RelPermalink }}" class="c-fg3 border-none fs-xs hover:c-fg2">{{ $lang.Language.LanguageName }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ end }}


