{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <ul class="inline">
    {{- range . }}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      {{- $isExternal := hasPrefix .URL "http" }}
      <li class="inline mr-sm">
        <a href="{{ .URL }}"
          {{- if $page.IsMenuCurrent .Menu . }} class="c-fg2 border-none fs-sm font-600 hover:opacity-70"
            {{ else }} class="c-fg2 border-none fs-sm hover:opacity-70"
          {{ end }}
          {{- if $isExternal }} target="_blank" rel="noopener"{{ end -}}
        >
          {{ $name }}
        </a>
      </li>
    {{- end }}
  </ul>
{{- end }}
