// ==========================================
// Base Styles & Reset
// ==========================================

@use "mixins" as *;
@use "vars";

// CSS Custom Properties for theme customization
:root {
  // Colors (Light mode defaults)
  /* colors */
  @each $name, $color in vars.$colors-light {
    --color-#{$name}: #{$color};
  }

  @each $name, $lineHeight in vars.$lh-ramp {
    --lh-#{$name}: #{$lineHeight};
  }

  @each $name, $fontSize in vars.$fs-ramp {
    --fs-#{$name}: #{$fontSize};
  }

  // Typography
  --font-mono: "Menlo", "Meslo LG", monospace;
  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  // Transitions
  --transition-base: all 0.2s ease;
}

.dark {
  // Colors (Dark mode overrides)
  @each $name, $color in vars.$colors-dark {
    --color-#{$name}: #{$color};
  }
}

html {
  font-size: 17px;
  line-height: var(--lh-base);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-fg3) transparent;

  @include desktop {
    font-size: 18px;
  }
}

body {
  font-family: var(--font-sans);
  color: var(--color-fg1);
  background-color: var(--color-body);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: var(--transition-base);
  border-color: var(--color-fg2);
}

.lang-switcher {
  &::before {
    content: "|";
    display: inline;
    opacity: 0.5;
  }
}

// view transition styles
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
