// ==========================================
// Components
// ==========================================

@use "variables" as *;
@use "mixins" as *;

// Logo
.logo {
    margin-bottom: $spacing-xl;

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;

        a {
            border: none;
            color: $color-text-dark;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    @include desktop {
        margin-bottom: $spacing-md;

        h1 {
            font-size: 1.3rem;
        }
    }
}

// Navigation
.nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: $spacing-xs;

        @include desktop {
            display: inline-block;
            margin-right: $spacing-sm;
            margin-bottom: 5px;
        }
    }

    a {
        display: inline-block;
        color: $color-text-dark;
        border: none;
        font-size: $font-size-small;

        &:hover {
            opacity: 0.7;
        }

        &.active {
            font-weight: 600;
        }
    }
}

// Language Switcher
.lang-switcher {
    margin-top: $spacing-lg;
    padding-top: $spacing-md;
    border-top: 1px solid $color-border;

    @include desktop {
        margin-top: $spacing-md;
        padding-top: $spacing-sm;
    }

    .lang-link {
        display: inline-block;
        margin-right: $spacing-sm;
        color: $color-text-light;
        border: none;
        font-size: $font-size-small;

        &:hover {
            color: $color-text-dark;
        }

        &:not(:last-child)::after {
            content: " / ";
            margin-left: $spacing-sm;
            color: $color-text-lighter;
        }
    }
}

// Footer
.footer {
    margin-top: $spacing-2xl;
    padding-top: $spacing-lg;
    border-top: 1px solid $color-border;
    color: $color-text-lighter;
    font-size: $font-size-small;

    p {
        margin: 0;
    }

    @include desktop {
        margin-top: $spacing-xl;
        padding-top: $spacing-md;
        font-size: $font-size-smaller;
    }
}

// Pagination
.pagination {
    margin-top: $spacing-xl;
    padding-top: $spacing-lg;
    border-top: 1px solid $color-border;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-xs;
        flex-wrap: wrap;
    }

    &-item {
        display: inline-block;
    }

    &-link {
        display: inline-block;
        padding: 5px $spacing-sm;
        color: $color-text-dark;
        text-decoration: none;
        border: none;
        font-size: $font-size-small;
        transition: $transition-base;

        &:hover {
            opacity: 0.7;
        }

        &.active {
            font-weight: 700;
            color: $color-text-dark;
        }
    }

    &-ellipsis {
        display: inline-block;
        padding: 5px $spacing-xs;
        color: $color-text-lighter;
        font-size: $font-size-small;
    }

    @include desktop {
        margin-top: $spacing-lg;
        padding-top: $spacing-md;
    }
}
