.icon {
  display: inline-block;
  vertical-align: -0.18em;
  width: 1em;
  height: 1em;
  mask: var(--svg) no-repeat;
  color: inherit;
  background-color: currentColor;
  mask-size: 100% 100%;
}

.i-arrow-right {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 13v-2h13.586V5.586L22 12l-6.414 6.414V13z'/%3E%3C/svg%3E");
}

.i-arrow-left {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 13v-2H8.414V5.586L2 12l6.414 6.414V13z'/%3E%3C/svg%3E");
}

.i-arrow-left-alt {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293l-1.414-1.414L4.586 12l6.707 6.707z'/%3E%3C/svg%3E");
}
