@use "sass:color";

$hue: 210;

$colors-light: (
  "body": rgb(217, 222, 216),
  "fg1": #333,
  "fg2": #666,
  "fg3": #999,
  "code": #e8eee7,
  "bd1": #ccc,
  "bd2": #bebebe,
  "main": #0aa81f,
  "bg1": #e2f1e4
);

$colors-dark: (
  "body": #1b1b1b,
  "fg1": #ddd,
  "fg2": #aaa,
  "fg3": #8f8d8d,
  "code": #2c2c2c,
  "bd1": #444,
  "bd2": #555,
  "main": #0fa823,
  "bg1": #3c3d3c
);

$fs-ramp: (
  "xs": 0.75rem,
  "sm": 0.875rem,
  "base": 1rem,
  "lg": 1.25rem,
  "xl": 1.625rem,
  "2xl": 2rem,
  "3xl": 2.5rem,
  "4xl": 3rem
);

$lh-ramp: (
  "tight": 1.3,
  "base": 1.6,
  "relaxed": 1.86
);
