@use "sass:color";

$hue: 210;

$colors-light: (
  "body": rgb(217, 222, 216),
  "fg1": #333,
  "fg2": #666,
  "fg3": #999,
  "code": #e8eee7,
  "bd1": #ccc,
  "bd2": #bebebe,
  "main": #0aa81f,
  "bg1": #e2f1e4
);

$fs-ramp: (
  "xs": 12px,
  "sm": 14px,
  "base": 16px,
  "md": 18px,
  "lg": 20px,
  "xl": 26px,
  "2xl": 32px,
  "3xl": 40px,
  "4xl": 48px
);

$lh-ramp: (
  "tight": 1.25,
  "base": 1.5,
  "relaxed": 1.75
);
