<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="flex flex-col min-h-screen max-w-768px mx-auto">
    {{ if .IsHome}}
    <aside class="w-full px-lg md:px-2xl pb-sm md:pb-0 pt-2xl md:pt-3xl">
      {{ partial "header.html" . }}
    </aside>
    {{ end }}
    <main class="flex-1 min-w-0 p-lg md:p-2xl max-w-full md:min-h-screen flex flex-col">
      <div class="flex-1">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </main>
  </div>
</body>
</html>
