<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="flex flex-col min-h-screen max-w-768px mx-auto">
    <aside class="w-full p-lg pb-0 md:p-2xl md:pb-0">
      {{ partial "header.html" . }}
    </aside>
    <main class="flex-1 min-w-0 p-lg md:p-2xl max-w-full md:min-h-screen flex flex-col">
      <div class="flex-1">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </main>
  </div>
</body>
</html>
